@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Custom styles for range inputs for visibility in dark mode */
  input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 100%;
  }

  /* Track */
  input[type="range"]::-webkit-slider-runnable-track {
    background: #4b5563; /* gray-600 */
    height: 0.5rem;
    border-radius: 0.5rem;
  }
  input[type="range"]::-moz-range-track {
    background: #4b5563; /* gray-600 */
    height: 0.5rem;
    border-radius: 0.5rem;
  }

  /* Thumb */
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    margin-top: -4px; /* Adjust thumb position */
    background-color: #d1d5db; /* gray-300 */
    height: 1.25rem;
    width: 1.25rem;
    border-radius: 50%;
  }
  input[type="range"]::-moz-range-thumb {
    background-color: #d1d5db; /* gray-300 */
    height: 1.25rem;
    width: 1.25rem;
    border-radius: 50%;
    border: none;
  }
}
